# Build Folders
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# Logs
*.log

# Debug
*.pdb
*.pdb.lock

# Configuration files
appsettings.Development.json
appsettings.json
appsettings.*
